body {
    min-height: 100vh;
    position: relative;
    padding-bottom: 200px;
}

footer {
    position: absolute;
    width: 100%;
    bottom: 0;
}

div.container {
    margin-top: 20px;
}

#gitHubBanner {
    position: absolute;
    right: 0;
}

div.post-title {
    padding: 2em;
    background-size: cover;
    background-position: center center;
}

div.post-title h1, div.post-title p {
    color: antiquewhite;
    text-shadow: 3px 3px 3px rgb(0,0,0);
}

div.articleContent {
    color: whitesmoke;
    text-shadow: 3px 3px 3px rgb(0,0,0);
}

.myLine {
    border: 0.5px antiquewhite solid;
    margin: 50px auto;
}

.alertFlash {
    position: fixed;
    width: 100%;
    bottom: 0;
    z-index: 1000;
}
/*-------------------- ADMINISTRATION CATEGORY --------------------*/
.adminButton {
    text-shadow: 3px 3px 3px rgb(0,0,0);
    font-weight: bold;
}

.adminIcon {
    color: white;
}

.adminIcon:hover {
    color: deepskyblue;
}

.textListCategory {
    color: antiquewhite;
    text-shadow: 2px 0 0 #000000, -2px 0 0 #000000, 0 2px 0 #000000, 0 -2px 0 #000000, 1px 1px #000000, -1px -1px 0 #000000, 1px -1px 0 #000000, -1px 1px 0 #000000;
}

/*-------------------- DOCUMENTATION CATEGORY --------------------*/
#docJumbotron {
    background-image: url("/images/onegaiBot_full.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: right;
}

@media (max-width: 767px) {
    #docJumbotron {
        background-image: none;
    }
}

#wipLegendText {
    color: antiquewhite;
    text-shadow: 3px 3px 3px rgb(0,0,0);
}

.myLineCommand {
    border: 1px antiquewhite dotted;
    margin: 10px auto;
}

.headerParagraph {
    font-size: 1.8rem;
}

.highlightedText {
    padding: 0 5px;
}

.paragraph {
    background-color: rgba(122, 186, 255, 0.4);
    padding-bottom: 15px;
}

.paragraph a {
    color: red;
}

.commandDescription strong, .commandExample strong {
    text-decoration: underline;
}

.commandExample span {
    color: deepskyblue;
    font-weight: bold;
    text-shadow: 1px 1px 1px rgb(0,0,0);
}

.stringParameter:before {
    content: 'string';
    position: absolute;
    top: -17px;
    color: darkblue;
    background-color: rgba(255, 255, 255, 0.7);
    border-radius: 40%;
}

.integerParameter:before {
    content: 'integer';
    position: absolute;
    top: -17px;
    color: darkred;
    background-color: rgba(255, 255, 255, 0.7);
    border-radius: 40%;
}