{% extends 'base.html.twig' %}

{% block body %}
<div class="container">
    <div class="mt-4">
        <div class="text-center">
            <img id="onegaiPP" src="{{ asset('images/onegaiBot_pp.png') }}" alt="Image de profil d'OnegAI"/>
        </div>
        <h1 class="display-3 text-center">OnegAI, bot Discord</h1>
        <p class="text-center">
            Version actuelle
            <span class="badge badge-pill badge-primary">{{ botVersion }}</span>
        </p>
        <p class="lead text-center mt-4">OnegAI est un <a href="{{ path('info_index') }}">projet</a> réalisé dans le
            cadre de la fin de ma formation de développeur web.</p>
        <p class="lead text-center mt-5">
            <a class="btn btn-success btn-lg mb-2 rounded-pill" href="{{ path('doc_index') }}" role="button">
                <span class="fas fa-book mr-2"></span>
                Documentation
            </a>
            <a class="btn btn-info btn-lg mb-2 rounded-pill"
               href="https://discordapp.com/api/oauth2/authorize?client_id=662240066084798474&permissions=2080898167&scope=bot"
               role="button" target="_blank">
                <span class="fab fa-discord mr-2"></span>Inviter onegAI
            </a>
        </p>
    </div>

    <h2 class="h1 mt-5 mb-5">Derniers articles :</h2>

    <div class="row">
        {% include 'post/_post.html.twig' %}
    </div>
</div>
{% endblock %}