{% extends 'base.html.twig' %}

{% block title %}Modification d'un article{% endblock %}

{% block body %}
    <div class="container">

        <h1>Modification de l'article {{ post.title }}</h1>

        {{ form_start(postForm) }}

        {{ form_widget(postForm) }}

        <button type="submit" class="btn btn-primary adminButton rounded-pill">
            Enregistrer les modifications
        </button>

        {{ form_end(postForm) }}

    </div>
{% endblock %}
{% block javascripts %}
    <script src="//cdn.ckeditor.com/4.13.1/full/ckeditor.js"></script>
    <script>
        CKEDITOR.replace( '.ckeditor' );
    </script>
{% endblock %}