{% extends 'base.html.twig' %}

{% block metaDescription %}
<meta name="description" content="La liste des différents articles concernant le projet OnegAI, comprenant notamment
les changelogs (mises à jour) du bot." />
{% endblock %}

{% block title %}Articles & Changelogs{% endblock %}

{% block body %}
<div class="container">
    <h1 class="my-3">Actualité du projet :</h1>

    <div class="{% if pagination.pages == 1 %}d-none{% else %}d-flex{% endif %} justify-content-center">
        {% set page = pagination.currentPage %}
        {% set pages = pagination.pages %}
        <ul class="pagination">
            <li class="page-item {% if page == 1 %}disabled{% endif %}">
                <a class="page-link" href="{{ path('posts_index', {'page': page - 1}) }}">&laquo;</a>
            </li>
            {% for i in 1..pages %}
                <li class="page-item {% if i == page %}active{% endif %}">
                    <a class="page-link" href="{{ path('posts_index', {'page': i}) }}">{{ i }}</a>
                </li>
            {% endfor %}
            <li class="page-item {% if page == pages %}disabled{% endif %}">
                <a class="page-link" href="{{ path('posts_index', {'page': page + 1}) }}">&raquo;</a>
            </li>
        </ul>
    </div>

    <div class="row">
        {% include 'post/_post.html.twig' with {'posts': pagination.getData} %}
    </div>
</div>
{% endblock %}
