{% extends 'base.html.twig' %}

{% block metaDescription %}
<meta name="description" content="La liste des différents articles concernant le projet OnegAI, comprenant notamment
les changelogs (mises à jour) du bot." />
{% endblock %}

{% block title %}Articles & Changelogs{% endblock %}

{% block body %}
<div class="container">
    <h1 class="my-3">
        Actualité du projet :
    </h1>
    <div class="row">
        {% include 'post/_post.html.twig' %}
    </div>
</div>
{% endblock %}
