{% extends 'base.html.twig' %}

{% block title %}Création d'un article{% endblock %}

{% block body %}
<div class="container">

    <h1>Créer un nouvel article</h1>

    {{ form_start(postForm) }}

    {{ form_widget(postForm) }}

    <button type="submit" class="btn btn-success adminButton rounded-pill">
        <span class="fas fa-plus-circle"></span>
        Poster l'article
    </button>

    {{ form_end(postForm) }}

</div>
{% endblock %}